@use 'assets' as a;
body {
    background: url(../assets/mountain.svg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 1.9em;
    color: a.$dark;
}

nav {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 2em auto;

    ul {
        display: flex;

        li {
            font-size: 1.3em;

            a {
                color: a.$dark;
                padding: 0.5em 1em;
                border-radius: 15px;
                @include a.transition;

                &:hover {
                    color: a.$peach;
                    background-color: a.$blue;
                }
            }
        }
        li:first-child {
            margin-right: 3em;
        }
    }
}

div.quote {
    font-family: a.$cursive;
    font-style: italic;
    position: absolute;
    bottom: 20%;
    left: 10%;
    animation: delayFadeIn 6s ease;
    color: a.$peach;
    max-width: 35em;
    letter-spacing: 0.7;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
