@use 'assets' as a;

//Ta bort margin och padding
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Max-bredder, inget overflow, linjehöjd osv
body {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: a.$exo;
    position: relative;
}

//Sätt höjd
html,
body {
    height: 100%;
}

//Dölj overflow på wrapper också
.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
